accelerate==1.7.0
bitsandbytes==0.45.5
datasets==3.6.0
func_timeout==4.3.5
jieba==0.42.1
liger_kernel==0.5.10
nltk==3.9.1
numpy==2.2.6
pandas==2.2.3
peft==0.15.2
rouge==1.0.1
scikit_learn==1.6.1
sql_metadata==2.17.0
sqlparse==0.5.3
torch==2.6.0
tqdm==4.67.1
transformers==4.51.3
nltk

